{% extends parent_template|default:"question/base_question.html" %}
{% load static %}

    {{ block.super }}

    {% block content %}

    <div class="border-outer">
        <div class="border-middle">
            <div class="info">
                <p>
                    Janet has again provided several conversational questions for us to answer and see the responses of
                    others. It's a good way to get to know one another all over again.. A new question will appear every
                    day until December 23. The questions that have appeared so far are displayed below. You can edit (or
                    delete) one of your responses by clicking on the (Edit...) link that appears at the end.
                </p>
            </div>
        </div>
    </div>

    <div class="line-red"></div>

    <!-- Question Column -->
    {% for question in question_list %}
        <div class="container">
            <div class="text-col">
                <h3 class="form-left question">
                    Question for {{ question.date }}:
                </h3>
                <h4 class="form-left question">
                     {{ question }}
                </h4>
                {% for response in question.get_responses  %}
                    <div class="form-left response">
                        {{ response.display }}
                        {% if response.responder == user %}
                            <a href="{% url 'edit_response' question.pk response.pk%}"> (Edit...)</a>
                        {% endif %}
                    </div>
                {% endfor %}
            </div>
            <span class="right-col">
                {% if user in question.get_responders %}
                    <a href="{% url 'create_response' question.pk %}">
                        <button class="my-button" type="button">Add Response</button>
                    </a>
                {% else %}
                    <a href="{% url 'create_response' question.pk %}">
                        <button class="my-button" type="button">Respond</button>
                    </a>
                {% endif %}
            </span>

        </div>

    {% endfor %}

    {% endblock %}