{% extends parent_template|default:"question/base_question.html" %}

{% block content %}

    {{ block.super }}

    <div class="form-left green">
        <h3>Question for {{ question.date }}</h3>
        <h4 class="question">{{ question }}</h4>
    </div>

    <h2 class="form-left green">Are you sure you want to delete the response:</h2>
    <h3 class="form-left response">{{ response }}</h3>

    <form class="form-left" action="{% url 'delete_response' question.pk response.pk %}" method="post">{% csrf_token %}
        <p><button class="my-button" type="submit">Yes</button></p>
    </form>

    <form class="form-left" action="{% url 'question_list' %}" method="get">
        <p><button class="my-button" type="submit">No</button></p>
    </form>

{% endblock %}
