{% extends parent_template|default:"question/base_question.html" %}
{% load static %}

{% block content %}

    {{ block.super }}

    <div class="info">
        <p>
            You can write your response to this question here.  Scroll down to the entry box, if necessary, type in your
            response, then click the 'Save' button.  Click on "Gifts" above (or the bells, or the Christmas 2016 title)
            to return to the main page.
        </p>
    </div>

    <div class="form-left green">
        <h3>Question for {{ question.date }}</h3>
        <h4 class="question">{{ question }}</h4>
    </div>

    <div class="form-left">
        {% for response in question.get_responses %}
            <p class="comment">{{ response.display }}</p>
        {% endfor %}
    </div>


    <form class="form-left" action="{% url 'create_response' question.pk %}" method="post">{% csrf_token %}
        <p class="instructions"><label for="response">Enter your response below:</label></p>
        <p><textarea id="response" name="response_text" rows="3" cols="40"></textarea></p>
        <p><button class="button" type="submit">Save</button></p>
    </form>

    <a class="form-left" href="{% url 'question_list' %}">
        <button class="button">Cancel</button>
    </a>

{% endblock %}
