{% load static %}

    {% block header %}

        <header>
            <div class="header-container">
                <!-- logo image -->
                <a href="{% url 'dj-auth:login' %}">
                    <img class="left" id="header-image" src="{% static 'images/bells.png' %}"
                         height="250" alt="Image of Christmas Bells">
                </a>
                <!-- Christmas Banner -->
                <div class="banner">
                    <div class="compact">
                        <!-- Website Name -->
                        <a class="no-underline" href="{% url 'dj-auth:login' %}">
                            <span class="large">Christmas 2016!</span>
                        </a>
                        <!-- Login or Welcome Area -->
                        {% if user.is_authenticated %}
                            <span class="right">
                                <a href="{% url 'dj-auth:logout' %}">
                                    <button type="button" name="logout-btn">Logout</button>
                                </a>
                            </span>
                            <span class="right small">Merry Christmas {{ user.first_name }}!</span>
                        {% else %}
                            <span class="right">
                                <form action="{% url 'dj-auth:login' %}" method="post">
                                    {% csrf_token %}
                                    <span class="right">
                                        <input type="submit" value="login" name="login-btn" tabindex="3"/>
                                    </span>
                                    <span class="right">
                                        <label class="description" for="password">Password:</label>
                                        <input type="password" class="login-box" name="password" id="password"
                                               placeholder="password" tabindex="2"/>
                                    </span>
                                    <span class="right">
                                        <label class="description" for="username">Username:</label>
                                        <input type="text" class="login-box" name="username" id="username"
                                               tabindex="1" />
                                    </span>
                                </form>
                            </span>
                        {% endif %}
                    </div>
                </div>
                <!-- Memory Block -->
                {% if user.is_authenticated %}
                    <div class="memory-block">
                        <!-- Display of Current Memory -->
                        {% if display_memory %}
                            <span class="memory-box">
                                <span class="name">{{ display_memory.author_display }}</span>
                                <span class="memory">{{ display_memory }}</span>
                            </span>
                        {% endif %}
                    </div>
                {% endif %}
                <!-- Menu Tabs -->
                <div class="line-grey"></div>
                <ul class="menu form-left">
                    <li class="menu-list-item left">
                        <a class="menu-item no-underline" href="/gift/list/">Gifts</a>
                    </li>
                    <li class="menu-list-item left">
                        <a class="menu-item" href="/question/list/">Question of the Day</a>
                    </li>
                    <li class="menu-list-item left">
                        <a class="menu-item no-underline" href="/memory/create/">Add Memory</a>
                    </li>
                    {% if user.userprofile.added_memories %}
                        <li class="menu-list-item left">
                            <a class="menu-item no-underline" href="/memory/edit/">Edit Memories</a>
                        </li>
                    {% endif %}
                    {% if user.is_staff %}
                        <li class="menu-list-item left">
                            <a class="menu-item no-underline" href="/mail/">Send E-mails...</a>
                        </li>
                    {% endif %}
                </ul>
            </div>
        </header>

    {% endblock %}