{% extends parent_template|default:"base.html" %}
{% load static %}

{% block content %}

    {{ block.super }}

    <div class="content">

        <h2>This page will allow the administrator to compose and send invitations to selected users.</h2>

        <form class="form-left" action="/mail/compose/" method="post">{% csrf_token %}
            <ul class="form-left">
                {% for user in users %}
                    <li>
                        <input type="checkbox" name="family_member" value="{{ user }}"/>
                        {{ user.userprofile.get_name }}<br />
                    </li>
                {% endfor %}
            </ul>
            <p class="instructions"><label for="sbjct">Subject:</label></p>
            <p><textarea id="sbjct" name="subject" rows="1" cols="40"></textarea></p>
            <p class="instructions"><label for="msg">Enter your message below:</label></p>
            <p><textarea id="msg" name="message" rows="10" cols="40"></textarea></p>
            <p><button class="button" type="submit">Send</button></p>
        </form>

        <a class="form-left" href="/gift/list/">
            <button class="button">Cancel</button>
        </a>

    </div>

{% endblock %}
