{% extends parent_template|default:"question/base_question.html" %}
{% load static %}

    {{ block.super }}

    {% block content %}

    <div class="info">
        <p>
            This is the Christmas Question page -- it shows a list of questions (thanks to Janet) and the answers family
            members have given so far. New questions appear periodically so check back from time to time. You can add or
            edit a response by clicking on the appropriate button.
        </p>
    </div>

    <div class="line-red"></div>

    {% for question in question_list %}

        <div class="container">
            <h3 class="form-left question">
                Question for {{ question.date }}: {{ question }}
            </h3>
            {% for response in question.get_responses  %}
                <div class="form-left response">
                    {{ response.display }}
                </div>
            {% endfor %}
            <span class="right-col">
                {% if user in question.get_responders %}
                    <a href="{% url 'edit_response' question.pk user.pk %}">
                        <button class="button" type="button">Edit My Response</button>
                    </a>
                {% else %}
                    <a href="{% url 'create_response' %}">
                        <button class="button" type="button">Respond</button>
                    </a>
                {% endif %}
            </span>

        </div>

    {% endfor %}

    {% endblock %}