{% extends parent_template|default:"question/base_question.html" %}
{% load static %}

    {{ block.super }}

    {% block content %}

    <div class="info">
        <p>
            Janet has provided ten conversational questions for us to answer. A new question will appear (almost) every
            day until December 23. A list of the questions that have appeared so far appears below. Respond by clicking
            on the Respond button below. After you have responded you can edit (or delete) your response by clicking on
            the Edit My Response button that will appear in its place.
        </p>
    </div>

    <div class="line-red"></div>

    {% for question in question_list %}

        <div class="container">
            <h3 class="form-left question">
                Question for {{ question.date }}: {{ question }}
            </h3>
            {% for response in question.get_responses  %}
                <div class="form-left response">
                    {{ response.display }}
                </div>
            {% endfor %}
            <span class="right-col">
                {% if user in question.get_responders %}
                    <a href="{% url 'edit_response' question.pk user.pk %}">
                        <button class="button" type="button">Edit My Response</button>
                    </a>
                {% else %}
                    <a href="{% url 'create_response' question.pk %}">
                        <button class="button" type="button">Respond</button>
                    </a>
                {% endif %}
            </span>

        </div>

    {% endfor %}

    {% endblock %}