{% extends parent_template|default:"trivia/base_trivia.html" %}
{% load static %}

    {{ block.super }}

    {% block content %}
        <div class="trivia-question">
            <h2>
                Sorry, you have already answered this question. According to the rules of the game, once you click the
                Submit button there is no going back.
            </h2>
            <h3>
                Click the 'Next Question' button below to go to the next question you can answer.
            </h3>
            <p class="center-button">
                <a href="{% url 'display_question' user.userprofile.get_next_trivia %}">
                    <button>Next Question</button>
                </a>
            </p>
        </div>

    {% endblock %}
