{% extends parent_template|default:"trivia/base_trivia.html" %}
{% load static %}

    {{ block.super }}

    {% block content %}
        <div class="trivia width-40">
            <form action="{% url 'trivia_submit' question.number %}" method="post">
                {% csrf_token %}
                <h2>Question Number: {{ question.number }}</h2>
                <p>
                    {{ question }}
                </p>
                {% if error_message %}
                    <div class="error-display">
                        <p class="red"><strong>{{ error_message }}</strong></p>
                {% else %}
                    <div>
                {% endif %}
                    {% for choice in choices %}
                        <p class="trivia-choice">
                            <input type="radio" name="choice" value={{ choice.number }}>{{ choice.index }}{{ choice }}</input>
                        </p>
                    {% endfor %}
                    <p>
                        <input type="submit" value="Submit" name="trivia_submit"/>
                    </p>
                    </div>
            </form>
        </div>

    {% endblock %}
