{% extends parent_template|default:"trivia/base_trivia.html" %}
{% load static %}

{{ block.super }}

{% block content %}

    <h2>Choose a question for editing by clicking on its Edit link below.</h2>
    <form action="{% url 'trivia_select_for_edit' %}" method="get">
        <ul>
        {% for question in object_list %}
            <li>
                <input type="radio" name="trivia_question" value="{{ question.number }}"/>
                {{ question.number }}. {{ question }}
            </li>
        {% empty %}
            <li>No questions have been composed yet.</li>
        {% endfor %}
        </ul>
        <p><button type="submit">Edit Selected</button></p>
    </form>

{% endblock %}
