{% extends parent_template|default:"trivia/base_trivia.html" %}
{% load static %}

{{ block.super }}

{% block content %}

    <h2>New improved trivia_edit page.</h2>
    <p>
        {{ question.number }}. {{ question }}
        <a href="{% url 'question_edit' question.pk %}">Edit</a>
    </p>
    {% for choice in question.get_choices %}
        <p>
            {{ choice.index }}{{ choice }}
            <a href="{% url 'choice_edit' choice.pk %}">Edit</a>
        </p>
    {% endfor%}
    <br>
    <p>
        <a type="button" href="{% url 'question_list' %}">
            <button>Done Editing</button>
        </a>
    </p>

{% endblock %}
