article, aside, figcaption, figure, footer, header, hgroup, menu, nav, section: {
    display: block;
    }

@font-face {
    font-family: "Qumpellkana";
    src: url("../fonts/QumpellkanaNo12.otf");
    }

@font-face {
    font-family: "Alpine";
    src: url("../fonts/Alpine.ttf");
    }

@font-face {
    font-family: "Gregorian";
    src: url("../fonts/GregorianFLF.ttf");
    }

/*@font-face {
    font-family: "Banner_Font";
    src: url("../fonts/GreatVibes-Regular.ttf");
    /* src: url("https://fonts.googleapis.com/css?family='Great Vibes'"); */
    }*/

footer {
    bottom: 0px;
    margin-top: 20px;
    color: #ffbb33;
    background-color: #cc0000;
    font-family: sans;
    font-size: 70%;
    overflow: auto;
    border-top: 1px solid lightgray;
    }

header {
    margin: 0px;
    height: auto;
    color: #ffbb33;
    background-color: #cc0000;
    font-family: 'Great Vibes', cursive;
    font-style: italic;
    /*font-weight: bold;*/
    overflow: auto;
    border-bottom: 1px solid lightgray;
    }

a.no-underline {
    text-decoration: none;
    }

a.menu-item {
    color: #ffbb33;
    text-decoration: none;
    }

p.no-p-height {
    margin-top: 0px;
    margin-bottom: 0px;
    }

.banner {
    margin-top: 0px;
    padding: 0px;
    border-top: 3px solid;
    border-bottom: 3px solid;
    border-color: #cc0000;
    }

.blue {
    color: blue;
    }

.button {
    width: 125px;
    margin-bottom: 5px;
    align: center;
    }

.comment {
    font-family: sans;
    font-size: small;
    color: blue;
    margin-top: 0px;
    }

.compact {
    margin-top: 10px;
    margin-bottom: 10px;
    margin-left: 160px;
    width 600px;
    }

.container {
    width: auto;
    height: auto;
    padding: 10px 10px 10px 10px;
    overflow: auto;
    border-bottom: 2px solid #cc0000;
    margin: 0px 10px 0px 10px;
    }

.header-container {
    width: auto;
    padding: 1px;
    margin: 0px;
    border: 0px;
    overflow: auto;
    }

.description {
    font-family: sans;
    font-size: medium;
    color: #208020;
    margin-top: 0px;
    }

.content {
    border-top: 1px solid lightgray;
    border-bottom: 1px solid lightgray;
    }

.full-width {
    width: auto;
    }

.form-left {
    margin-left: 150px;
    padding: 0px;
    }

.green {
    color: #208020;
    }

.info {
    margin: 20px auto 20px auto;
    padding: 10px;
    height: auto, 150px;
    width : 60%;
    border: 2px solid green;
    background-color: #f0f0f0;
    color: #208020;
    font-family: serif;
    font-size: 120%;
    font-style: italic;
    font-weight: bold;
    }

.info p {
    margin-top: 0px;
    margin-bottom: 0px;
    }

.large {
    color: #ffbb33;
    margin: 0;
    font-size: 450%;
    font-style: italic;
    width: 60%;
    }

.left {
    float: left;
    }

.left-col {
    float: left;
    height: 165px;
    width: 154px;
    }

.line-grey {
    border-top: 1px solid lightgray;
    }

.line-red {
    border-top: 2px solid;
    border-color: #cc0000;
    margin: 0px 10px 0px 10px;
    }

.login-box {
    width: 100px;
    }

.heading {
    color: #208020;
    font-family: Alpine;
    font-size: 150%;
    font-style: italic;
    margin-top: 0px;
    }

.instructions {
    color: #208020;
    font-family: arial sans-serif;
    }

.menu {
    margin-top: 0px;
    margin-bottom: 0px;
    overflow: auto;
    }

.menu-list-item {
    list-style-type: none;
    margin-right: 20px;
    padding: 5px;
    font-size: 110%;
    font-weight: bold;
    font-family: sans-serif;
    }

.memory-block {
    margin-top: 10px;
    margin-bottom: 10px;
    }

.memory {
    width: auto;
    margin: 0px;
    font-weight: normal;
    }

.memory-box {
    width: 60%;
    color: blue;
    font-family: serif;
    font-style: italic;
    padding: 5px;
    }

.name {
    font-family: serif;
    font-weight: bold;
    }

.question {
    color: #208020;
    }

.response {
    color: blue;
    padding-left: 50px;
    margin-bottom: 10px;
    }

.right {
    float: right;
    padding-left: 10px;
    padding-right: 10px;
    }

.right-col {
    float: right;
}

.selected-gift-text {
    color: red;
    font-family: sans;
    margin: 5px;
    text-align: center;
    }

.selected-image {
    border: 2px solid red;
    }

.small {
    font-family: "Open Sans", arial, sans-serif;
    font-weight: bold;
    font-size: medium;
    padding-top: 5px;
    }

.text-col {
    float: left;
    padding: 0px 10px 0px 10px;
    width: 70%;
    }

.unselected-gift-text {
    color: #208020;
    font-family: sans;
    margin: 5px;
    text-align: center;
    }

.unselected-image {
    border: 2px solid #208020;
    }

.left_col {
    width: 75%;
    float: left;
    }

.right_col {
    background: #e0ffe0;
    width: 24%;
    height: 200%;
    float: right;
    padding: 5px;
    }

#header-image {
    width: 150px;
    height: 150px;}