{% extends parent_template|default:"gifts/base_gifts.html" %}

{% block content %}

    {{ block.super }}

    <div class="form-left green">
        <h4>Comment on {{ gift }}</h4>
    </div>

    <h2 class="form-left green">Are you sure you want to delete the comment:</h2>
    <h3 class="form-left blue">{{ comment.comment }}</h3>

    <form class="form-left" action="/gift/{{ gift.gift_number }}/comment/{{ comment.pk }}/delete/" method="post">{% csrf_token %}
        <p><button class="my-button" type="submit">Yes</button></p>
    </form>

    <form class="form-left" action="/gift/list/" method="get">
        <p><button class="my-button" type="submit">No</button></p>
    </form>

{% endblock %}
