{% extends parent_template|default:"gifts/base_gifts.html" %}

{% block content %}

    {{ block.super }}

    <h2 class="form-left">Are you sure you want to delete the comment:</h2>
    <h3 class="form-left">{{ comment.display }}</h3>

    <form class="form-left" action="/gift/{{ gift.gift_number }}/comment/{{ comment.pk }}/delete/" method="post">{% csrf_token %}
        <p><button class="button" type="submit">Yes</button></p>
    </form>

    <form class="form-left" action="/gift/list/" method="get">
        <p><button class="button" type="submit">No</button></p>
    </form>

{% endblock %}
