{% extends parent_template|default:"base.html" %}

{% block title %}
    {{ block.super }} - Bad Request Error
{% endblock %}

{% block content %}
    {{ block.super }}

    <div class="border-outer">
        <div class="border-middle">
            <div class="info">
                <p>
                    I'm not sure what happened. The system threw something called a "Bad Request Error." You can go back
                    to the main page by clicking on the button below. If this keeps happening, let me know how I can get
                    it to happen and maybe I can fix it.
                </p>
            </div>
        </div>
    </div>

    <a href="/">
        <button class="button form-left">Main Page</button>
    </a>

{% endblock %}
