{% extends parent_template|default:"base.html" %}

{% block title %}
    {{ block.super }} - Invalid Page Error
{% endblock %}

{% block content %}
    {{ block.super }}
    <div class="info">
        <p>
            Hmm...  The browser couldn't find the page you were looking for.  If you typed it into the address bar try
            to make sure everything is spelled correctly.  If you got here by clicking on something on one of the other
            pages tell me what it was and I can try to fix it.  You can go back to the main page by clicking the button
            below.
        </p>
    </div>

    <a href="/">
        <button class="button form-left">Main Page</button>
    </a>

{% endblock %}
